@page
@model Rookies.CustomerSite.Pages.Product.RatingModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
}
<form method="post">
    <input type="text" />
    <input type="number" />
</form>