@model IList<Rookies.CustomerSite.ViewModel.Category.CategoryVM>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Categories";
}
<table>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    <a asp-page="/Product/ProductByCate" asp-route-cateid="@item.Id"> @Html.DisplayFor(modelItem => item.Name)</a>
                </td>
            </tr>
        }
    </tbody>
</table>
