html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
.menubutton {
    position: fixed; /* Fixed/sticky position */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #1a1a1a; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}
    #menubutton:hover {
        background-color: #e59324; /* Add a dark-grey background on hover */
    }
.menu {
    width: 10%;
    position: fixed;
    z-index: 999;
    background-color: #a9a9a9ba;
    color: #af6c08;
    top: 20%;
    bottom:20%
}



